<!-- path('login/', views.LoginView.as_view(), name='login')  -->

{% extends 'registration/reg.base.html' %}
{% load material_form %}

{% block title %}Login - {{ hostname }}{% endblock %}

{% block registration_content %}
    {% if user.is_authenticated %}
        <script>(function(){window.location.href = "{% url 'home' %}"})();</script>
    {% endif %}
<div class="card white">
    <div class="card-content">
        <span class="card-title">Login</span>
        <form method="post">
            {% csrf_token %}
            {% form %}{% endform %}
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
</div>
{% endblock %}
