<!-- path('password_change/done/', views.PasswordChangeDoneView.as_view(), name='password_change_done'), -->
{% extends 'registration/reg.base.html' %}

{% block title %}Password change successful{% endblock %}

{% block styles %}
    {% include 'elements/tick/css' %}
{% endblock %}

{% block registration_content %}
<div class="card lime white">
    <div class="card-content">
        <span class="card-title">Password change successful!</span>
        <p>Your password has been changed.</p>
        {% include 'elements/tick/html' %}
    </div>
    <div class="card-action right-align">
        <a class="btn" href="{% url 'home' %}">Home</a>
    </div>
</div>
{% endblock %}

{% block end %}
    {% include 'elements/tick/js' %}
{% endblock %}
