<!-- path('password_change/', views.PasswordChangeView.as_view(), name='password_change'), -->
{% extends 'registration/reg.base.html' %}
{% load material_form %}

{% block title %}Change Password{% endblock %}

{% block registration_content %}
<div class="card white">
    <div class="card-content">
        <span class="card-title">Change Password</span>
        <p>You are logged in as <code style="color: #777;">{{ request.user.username }}</code>. Change your password below: </p>
        <br>
        <form method="post">
            {% csrf_token %}
            {% form %}{% endform %}
            <button type="submit" class="btn">Change Password</button>
        </form>
    </div>
</div>
{% endblock %}
