<!-- path('password_reset/', views.PasswordResetView.as_view(), name='password_reset'), -->
{% extends 'registration/reg.base.html' %}
{% load material_form %}

{% block title %}Forgot Your Password?{% endblock %}

{% block registration_content %}
<div class="card white">
    <div class="card-content">
        <span class="card-title">Forget your password?</span>
        <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="post">
            {% csrf_token %}
            {% form %}{% endform %}
            <button type="submit" class="btn">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}
