<!-- accounts/signup/ -->
{% extends 'registration/reg.base.html' %}
{% load material_form %}

{% block title %}Enter new password{% endblock %}

{% block registration_content %}
    {% if user.is_superuser %}
        <div class="card white">
            <div class="card-content">
                <span class="card-title">Sign Up</span>
                <form method="post">
                    {% csrf_token %}
                    {% form %}{% endform %}
                    <button type="submit" class="btn">Sign Up</button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="card white">
            <div class="card-content">
                <span class="card-title">Sorry, you may not create a new account.</span>
            </div>
        </div>
    {% endif %}
{% endblock %}
