{# {% load static %} #}

{# <script type="text/javascript" src="{% static "serialize-0.2.min.js" %}"></script> #}
<script type="text/javascript">
    var djangoHelpers =
    {
        getCookie : function(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        },

        ajaxUpdate : function(_type = "POST", _url, _datatype = 'application/json', _data, _success, _fail)
        {
            var xhr = new XMLHttpRequest();
            var csrftoken = djangoHelpers.getCookie('csrftoken');

            xhr.open(_type, _url);
            if (_datatype) xhr.setRequestHeader('Content-Type', _datatype);
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.onload = function() {
                xhr.status === 200 ? _success(xhr.status, xhr.responseText) : _fail(xhr.status, xhr.responseText);
            };

            if (_datatype === 'application/json') _data = JSON.stringify(_data);
            xhr.send(_data);

            return xhr;
        },

        serializeForm: function(_form)
        {
            // https://gomakethings.com/how-to-serialize-form-data-with-vanilla-js/
            // https://github.com/jquery/jquery/blob/669f720edc4f557dfef986db747c09ebfaa16ef5/src/serialize.js
            // Loop through form elements
            var _data = {};
            const rsubmitterTypes = /^(?:submit|button|image|reset|file)$/i

            for (let i = 0; i < _form.elements.length; i++) {
                let field = _form.elements[i];

                // We skip fields without a name, submits, buttons, file and reset inputs
                if (!field.name || rsubmitterTypes.test(field.type)) continue;

                // If a multi-select, get all selections
                if (field.type === 'select-multiple') {
                    _data[field.name] = []
                    if (!field.disabled)
                    {
                        for (let n = 0; n < field.options.length; n++) {
                            if (!field.options[n].selected) continue;
                            _data[field.name].push(field.options[n].value);
                        }
                    }
                }
                // If checkbox, we convert to 1 and 0
                // in ternary: _data[field.name] = (!field.disabled) ? field.checked & 1 : 0;
                // solution 1: (field.checked ^ field.disabled) & !field.disabled
                else if (field.type === 'checkbox') _data[field.name] = field.checked & ~field.disabled;
                // Default
                else _data[field.name] = (!field.disabled) ? field.value : 0;
            }

            return _data;
        }
    }

    document.addEventListener('DOMContentLoaded', function(e) {
        // Initialization
        // Disable all disabled buttons
        d_btns = document.querySelectorAll(".disabled a");
        d_btns.forEach(function(ele) {
            ele.addEventListener('click', e => e.preventDefault() );
        });
        // Initialize materializecss stuff
        var _collapsibles   = document.querySelectorAll('.collapsible');
        var _c_instances    = M.Collapsible.init(_collapsibles, false);
        var _modals         = document.querySelectorAll('.modal');
        var _m_instances    = M.Modal.init(_modals, false);

        // AJAX for change in done-status
        _checkboxes = document.querySelectorAll(".coy-section");
        _checkboxes.forEach(function(ele) {
            ele.addEventListener('change', function(e) {

                _data = djangoHelpers.serializeForm(e.target.form);
                console.log(_data);

                djangoHelpers.ajaxUpdate( "POST", "/update/", 'application/json', JSON.stringify(_data),
                    function(status, response) {
                        // Success
                        M.toast({html: 'Update Successful!', displayLength: 1000});
                    },
                    function(status, response) {
                        // Fail
                        M.toast({html: 'Update failed, please try again later.', displayLength: 1000});
                        // Reset field that was changed
                        e.target.checked ^= 1;
                    }
                );

            });
        });

        // Opening of confirmations
        _del_btns = document.querySelectorAll(".delete-btn");
        _del_btns.forEach(function(ele){
            ele.addEventListener('click', function(e) {
                e.preventDefault();
                _m = document.getElementById("modal-delete-confirm");
                _m.querySelector('#delete-crn').innerHTML = ele.dataset.crn;
                document.getElementById("delete-btn-cfm").dataset.crn = ele.dataset.crn;
                M.Modal.getInstance(_m).open();
            });
        });

        // AJAX for delete
        _del_btn = document.getElementById("delete-btn-cfm");
        if (_del_btn !== null)
        {
            _del_btn.addEventListener('click', function(e) {
                e.preventDefault();
                e.stopPropagation();
                _CRN = e.target.dataset.crn;

                // Load progress bar
                var pbar = document.querySelectorAll(".delete-confirm .progress")[0];
                pbar.style.opacity = "1";
                // Disable the buttons
                e.target.classList.add("disabled");
                e.target.nextElementSibling.classList.add("disabled");

                // Send AJAX to delete
                _data = { "CRN" : _CRN }
                djangoHelpers.ajaxUpdate( "POST", "/delete/", 'application/json', JSON.stringify(_data),
                    function(status, response) {
                        // Success
                        // Remove pbar
                        pbar.style.opacity = "0";

                        _m = document.getElementById("modal-delete-confirm");
                        M.Modal.getInstance(_m).close();

                        M.toast({html: _CRN + ' deleted. Refreshing page...', displayLength: 1000});
                        window.setTimeout(location.reload(true), 5000)
                    },
                    function(status, response) {
                        // Fail
                        // Remove pbar
                        pbar.style.opacity = "0";

                        _m = document.getElementById("modal-delete-confirm");
                        M.Modal.getInstance(_m).close();
                        // Clear all CRN related stuff from the modal since we aren't doing any page refresh
                        e.target.dataset.crn = "";
                        document.getElementById('delete-crn').innerHTML = "";
                        // Renable buttons
                        e.target.classList.remove("disabled");
                        e.target.nextElementSibling.classList.remove("disabled");

                        M.toast({html: 'Unable to delete, please try again later.', displayLength: 1000});
                    }
                );
            });
        }

        // For CSV Module
        document.getElementById("csv_uploadTemplate").addEventListener('click', function(e) {
            e.preventDefault();

            // Get the file
            // https://thoughtbot.com/blog/ridiculously-simple-ajax-uploads-with-formdata
            var fileInput = document.querySelectorAll('.csv_module input[type="file"]')[0];
            var file = fileInput.files[0];
            if (!file) { M.toast({html: 'No file to upload!', displayLength: 1000}); return; }
            var formData = new FormData();
            formData.append('file', file);

            // Show the progress bar
            var pbar = document.querySelectorAll(".csv_module .progress")[0];
            pbar.style.opacity = "1";

            djangoHelpers.ajaxUpdate( "POST", "/update/csv/", '', formData,
                function(status, response) {
                    // Success
                    pbar.style.opacity = "0";
                    M.toast({html: 'Upload successful. Refreshing page...', displayLength: 1000});
                    window.setTimeout(location.reload(true), 500)
                },
                function(status, response) {
                    // Fail
                    pbar.style.opacity = "0";
                    if (response) response = ": " + response
                    else response = ". Please try again later."
                    M.toast({html: 'Error occurred' + response, displayLength: 1000});
                }
            );
        })

        // https://github.com/eligrey/FileSaver.js for template?

    });
</script>
